#headernav{
	text-align:right;
	background: -webkit-linear-gradient(top left, #000000, #FFFFFF);
}
a.navlink:link, a.navlink:visited{
    color: black;
    padding: 14px 25px;
	margin: 2px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
a.navlink:hover, a.navlink:active{
	background-color:gray;
	color:white;
}
#body_title{
	text-align:center;
}
#info_section{
	
}
#comment_section{
	background: #D8D8D8;
	padding: 6px;
}
p.user_comment{
	background: #CEE3F6;
}